# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Virtual environments
.venv/
venv/
env/
ENV/
tf-env/

# VSCode/IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Logs
*.log
data/feed_info.csv
data/test_a.csv
data/test.csv
data/user_action.csv
data/submit_demo_初赛a.csv
data/feed_embeddings.csv
split_data/encoder.pkl
split_data/test.csv
split_data/train.csv
split_data/val.csv
